.resource_box_wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    width: 90vw;
    max-width: 750px;

    padding: 10px;
    right: -3%;
    gap: 15px;
}

@media (max-width: 480px) {
    .resource_box_wrapper{
        width: 120vw !important;
    }
}

.resource_box_container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 90%;
    height: 100px;

    border-radius: 0.75rem;

    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: sans-serif;

    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    border: 1px solid hsl(152, 15%, 90%);
    color: hsl(240, 10%, 4%);
    background-color: hsl(0, 0%, 100%);
    padding: 25px;
}

.resource_box_container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
}

.resource_box_container:first-child{
    margin-top: 25px;
}

.resource_box_container:last-child{
    margin-bottom: 25px;
}

.resource_box_icon {
    font-size: 24px;
    margin-right: 10px;
}



.resource_box_text {
    flex-grow: 1;
    text-align: left;
}

.resource_box_delete {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.resource_box_delete:hover {
    color: #ff4d4d;
}

.x_button{
    position: relative;
    display: flex;
    height: 15px;
    width: auto;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 9999px;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
}

.x_button:hover {
    background: hsl(0, 100%, 89%);
}

.resource_icon {
    position: relative;
    display: flex;
    height: 150%;
    width: 45px;
    background-color: #c7ffd9;
    border-radius: 7px;
    left: -4%;
}

.resource_header_text {
    position: relative;
    display: flex;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: hsl(240, 10%, 3.9%);
}

.resource_sub_text {
    position: relative;
    display: flex;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-top: .25rem;
    color: hsl(240, 10%, 3.9%);
}

/* Dark Mode for Resource Box */
.dark-mode .resource_box_wrapper {
    background-color: transparent;
    /* Keeping background clean */
}

.dark-mode .resource_box_container {
    background-color: #292929;
    ;
    /* Darker gray */
    color: #ffffff;
    /* White text */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* Softer shadow */
}

.dark-mode .resource_box_container:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.15);
}

.dark-mode .resource_box_text {
    color: #ffffff;
    /* White text */
}

.dark-mode .resource_box_delete {
    color: #cccccc;
    /* Lighter gray */
}

.dark-mode .resource_box_delete:hover {
    color: #ff4d4d;
    /* Red hover */
}

.dark-mode .resource_icon {
    background-color: #256d3f;
    /* Dark green */
}

.dark-mode .resource_sub_text {
    color: #d4d4d4;
    /* Light gray */
}

.note_type_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
}


.text_container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    text-align: left;
    gap: 5px;
}

.date{
    position: relative;
    display: flex;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-top: .25rem;
    color: hsl(240, 3.8%, 46.1%);
}

.note_type{
    position: relative;
    background: hsl(152, 43%, 98%);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 1px solid hsl(140, 7%, 92%);
    font-size: small;
}

.text_row{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    gap: 15px;
    top: 0px !important;
}